<div class="jumbotron text-center">
	<h1>Home Page</h1>
	<p>{{ message }}</p>
	<button type="button" class="btn btn-default btn-lg" ng-click="getData()">Hit GET API</button>
	
	<div class="container">
		<hr>
		</hr>
	<!-- <select  class="form-control" ng-options="id as opt.id for (id, opt) in posts track by $index" ng-model="post"> -->
 			<select  class="form-control" ng-options="opt.id for opt in posts track by $index" ng-model="post">
 			</select>

 			<!-- <select class="form-control" ng-model="post" ng-change="">
				<option ng-repeat="opt in posts track by $index" value="{{opt.id}}"> 
					{{opt.id}}-{{opt.title}} > ({{opt.id==3?'T':'F'}})
				</option>
			</select> -->

		<table class="table table-bordered">
			<thead>
				<tr>
					<th class = "text-center">User ID</th>
					<th class = "text-center">Title</th>
				</tr>
			</thead>
			<tbody ng-repeat="post in posts">
				<tr>
					<td>{{post.id}}</td>
					<td>{{post.title}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
